<!DOCTYPE html>
<html>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
    <!-- Navigation Section -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand";" href="index.html">The Flutie Effect</a>
            <button class="navbar-toggler border border-white" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Our Findings 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="mL.html">Machine Learning</a>
                            <a class="dropdown-item" href="Tableau.html">Tableau</a>
                            <a class="dropdown-item" href="index.html">Home</a>
                        </div>
                    </li>
                    <p>
                        Group 11
                    </p>

                </ul>
            </div>
    </div>
  <!-- Content Section -->
  <div class="container">
    <div class="row">
      <div class="col-lg-20 col-md-100">
        <!-- Left box  -->
        <div class="box">
          <h3 class="title">Machine Learning Analysis</h3>
          <hr>
            <br>
            <hr>
            <p><b>Total Expenses v. Total Revenue</b></p>
            <br>
          <img src="../Resources/images/linearity.png" alt="mL">
          <p>In our analysis we wanted to look at what it takes to create a profitible Division 1 football
            program. We began our analysis by creating a simple scatter plot to prove linearity before moving on and creating the model.
            This is an important step in determining which kind of model to use. Since we see a clear linear relationship
            here, we decided to create a univariate regression model.                                                   
            </p>

            <hr>
            <p><b>Profit v. Total Expenditures</b></p>
            <br>
          <img src="../Resources/images/predicted_profit.png" alt="mL2">
          <p>Secondly, we look a look at potential profits based on total football expeditures. Again most Divison 1 schools
            are spending less than $60 million a year and breaking even. This was an interesting outcome because in our research most of our 
            recognizable Power 5 Division 1 schools are spending well above 110 million to finance their programs. While they might be an anomaly
            when looking at all 130 Division 1 football programs, we know extra spending does not always guarantee
            success. While their are other factors that can impact the success of a team we believe that colleges
            that spend around 80 million on their football programs get the best return. The data is very inconclusive as colleges 
            increase spending. Since high spending does not guarantee success it is hard to predict the just how much 
            colleges should expect in return. Many things like injury or lack of attendance can easily impact profits.</p>
            
              <hr>
              <p><b>Limitations</b></p>
              <br>
            <img src="../Resources/images/multi_plot.png" alt="mL3">
            <p> When we began our data exploration and initial modeling, we wanted to try to find the "sweet spot" for expenditure and cash inflows
                from various sources. We were fortunate enough to find an excellent dataset that gave us the breakdown of all major categories of inflows
                and outflows, and we wanted to predict where a team would be if they stayed on their current path, made a significant investment in the team,
                or emphasized bringing money in through various means. We created a correlation matrix to figure out which of our independent variables were 
                most responsible for revenue. We created our model with 7 variables ranging from coach's salary and recruiting expenses to advertising revenue
                and ticket sales. Unfortunately we learned that making multivariate forecasts is virtually impossible unless using a time series model. It is also
                extremely hard to interpret the results as you can see in this least squares regression plot. After learning this, we shifted our focus to plotting
                potential profit as predicted by actual and predicted revenues.                                                                                                 
                                                                                                                  
             </p>                                                                                                      
        </div>
      </div>
