/* Body */
body{
    background-color: #fff; 
}
/* Navbar */
.navbar{
    max-height: 57px; 
}
.navigation .navbar-brand{
    color: #020453; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar{
    background-color: white; 
    font-size: 15px;
    border-bottom-style: solid;
    border-color: #020453;
    border-width: 2px;
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#bebebe!important; 
}
.dropdown-item{
    color: #020453 !important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#bebebe !important; 
}
a{
    color: #fff;
    font-size: 15px; 
}
.nav-link:hover{
    background-color:#bebebe !important;
   }

.navbar-brand:hover{
color: #bebebe !important;
}
/* Images */
img{
    width:100% !important;
    height:100% !important;
}
.active, .panel:hover{
    border-color: #bebebe;
    border-style: solid; 
    
}
.vizualization{
    width:50% !important;
    height:50% !important;
}

/* Title Class  */
.title{
    color: #020453;  
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph Element */
p{
 color: #4e5d6c;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 font-size: 17px; 
}
td{
    text-align: center;
}
table{
    background-color: #fff;
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: #fff; 

  }
/* Table */
  .table{
    font-size: 15px; 
    border-top-color: #fff !important; 
}
/* Media Queries */
@media(max-width: 992px){
.navbar-expand-lg{
background-color: #fff !important;
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: #fff;  
}
.navbar-brand{
    padding: 10px !important; 
}

button{
    margin-right: 30px; 
}
button:focus {

    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
}