<!DOCTYPE html>
<html>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
    <!-- Navigation Section -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand";" href="index.html">The Flutie Effect</a>
            <button class="navbar-toggler border border-white" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Our Findings 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="mL.html">Machine Learning</a>
                            <a class="dropdown-item" href="Tableau.html">Tableau</a>
                            <a class="dropdown-item" href="index.html">Home</a>
                        </div>
                    </li>
                    <p>
                        Group 11
                    </p>

                </ul>
            </div>
    </div>
  <!-- Content Section -->
  <div class="container">
    <div class="row">
      <div class="col-lg-20 col-md-100">
        <!-- Left box  -->
        <div class="box">
          <h3 class="title">Machine Learning Analysis</h3>
          <hr>
            <br>
            <hr>
            <p><b>Total Expenses v. Total Revenue</b></p>
            <br>
          <img src="../Resources/images/machinelearning.png" alt="mL">
          <p>In our analysis we wanted to look at what it takes to create a successful Division 1 football
            program. On our x axis we have the expenses by team and their resulting revenue on the y axis.
            As expected the more you send on a program the more your revenue should increase. Most teams 
            are spending under $50 million while larger schools can afford to spend upwards up $100 to $160 
            million in some cases. However, after
            about $100 million to $110 million  spent we start to see more negative returns than positive.
            This was an intresting outcome because in our research most of our recognizable Power 5 Division 1
            schools are spending well above 110 million to finance their programs. While they might be an anomaly
            when looking at all 130 Division 1 football programs, we know extra spending does not always guarantee
            success. While their are other factors that can impact the success of a team we believe that colleges
            that spend around 80 million on their football programs get the best return.</p>

            <hr>
            <p><b>Profit v. Total Expenditures</b></p>
            <br>
          <img src="../Resources/images/mL2.png" alt="mL2">
          <p>Secondly, we look a look at profits based on total football expeditures. Again most Divison 1 schools
              are spending less than $60 million a year and breaking even. The data is very inconclusive as colleges 
              increase spending. Since high spending does not guarantee success it is hard to predict the just how much 
              colleges should expect in return. Many things like injury or lack of attendance can easily impact profits.</p>
            
              <hr>
              <p><b>Limitations</b></p>
              <br>
            <img src="../Resources/images/mL3.png" alt="mL3">
            <p>
            
        </div>
      </div>