<!DOCTYPE html>
<html>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
    <!-- Navigation Section -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand";" href="index.html">The Flutie Effect</a>
            <button class="navbar-toggler border border-white" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Our Findings 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="mL.html">Machine Learning</a>
                            <a class="dropdown-item" href="Tableau.html">Tableau</a>
                            <a class="dropdown-item" href="index.html">Home</a>
                        </div>
                    </li>
                    <p>
                        Group 11
                    </p>

                </ul>
            </div>
    </div>
  
    <div class="container">
        <div class="row">
        <div class="col-lg-20 col-md-11">
        <h3 class="title">
            Tableau Visualization
        </h3>
        </br>
        <hr>
        <p>
        Using tableau for this project, the goal  was to analyze the data and create visualizations that shows correlation between championship and admissions for universities football program over the past two decades. The foundation for our project is based on the Doug Flutie Effect concept that says if a school wins a championship, that school would yield higher enrollment.  The process used for the visualizations is outlined below: 
        <li>Utilized Python to perform ETL on our raw datasets to generate multiple cleaned csv datasets</li>
        <li>Imported cleaned datasets into tableau</li>
        <li>Performed inner join on the School name from the Champion dataset and Admission dataset</li> 
        <li>Created Champion vs Number of Applicants to analyze number of applications as it relates to the year the school won the championship.</li> 
        <li>Created Applicants vs Number Admitted to assess correlation between these data points.</li> 
        <li>Created interactive dashboard comprised of the two visualization.  The dashboard allow users to filter by school.</li>
        <li>The dashboard was published via Tableau Public portal.</li>The dashboard was published via Tableau Public portal. 
        <li>Embed script for the dashboard from the Tableau Public Portal into our HTML code, for our hosted site.</li>
        </p>
        </br>
        </div>

        <div class='tableauPlaceholder' id='viz1603843565219' style='position: relative'><noscript><a href='#'><img alt=' '
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GABootcamp_Grp11_FinalProject_FinalVersion&#47;Group11Dashboard&#47;1_rss.png'
            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='GABootcamp_Grp11_FinalProject_FinalVersion&#47;Group11Dashboard' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image'
        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GABootcamp_Grp11_FinalProject_FinalVersion&#47;Group11Dashboard&#47;1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en' />
    <param name='filter' value='publish=yes' /></object></div>
    <script
    type='text/javascript'>                    var divElement = document.getElementById('viz1603843565219'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '650px'; vizElement.style.height = '887px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '977px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</body>
</html>